<!DOCTYPE html>
<html>
    <style>
        h2 {text-align: center;}
        table, th, td {
          border:1px solid black;
          border-collapse: collapse;
        }
        th, td {
            padding: 15px
        }
        </style>
    <body>
        <h1>Inventory Si Bambang</h1>

        <p>Arya Lesmana</p>
        <p>2206081603</p>
        <p>PBP F</p> 
        <hr>
        <h2>Bambang memiliki {{ total_item }} nama item di Inventory nya</h2>
        <h2>Isi inventory Bambang saat ini adalah {{ total_amount }} buah item</h2>
            <table style="width: 100%">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Effect</th>
                    <th>Value</th>
                </tr>
                    {% for i in all %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.amount }}</td>
                    <td>{{ i.description }}</td>
                    <td>{{ i.effect }}</td>
                    <td>{{ i.value }}</td>
                </tr>
                {% endfor %}
            </table>
        <br>
        <a href="{% url 'main:create_product' %}">
            <button>
                Add New Product
            </button>
        </a>
    </body>
</html>